@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Oriya:wght@400;500;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700&display=swap');
.main {
    flex-direction: column;
}

.art-main {
    display: block;
    margin: 0 1.3rem 0;
    padding: 1rem 0 1.2rem 0;
    border-bottom: 1px solid gainsboro;
}

.art-main:first-child img {
    display: none;
}

.art-main-title {
    font-family: 'Noto Serif Oriya' ,georgia, "times new roman", times, serif;
    font-size: 1.6rem;
    padding: 10px 0 10px 0;
    letter-spacing: -1px;
    line-height: 2rem;
}

.art-main-img {
    height: 150px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    padding: 0 0 10px 0;
}

.art-main-desc {
    font-family: 'Playfair Display','Noto Serif Oriya' ,georgia, "times new roman", times, serif;
    color: rgb(97, 97, 97);
}

.time {
    font-size: .7rem;
    color: rgb(223, 66, 66);
}

.main-no-results {
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-results-title {
    font-family: 'Noto Serif Oriya' ,georgia, "times new roman", times, serif;
    padding: 2rem;
    text-align: center;
}