@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5px;
  padding: 10px 10px;
  border-bottom: 1px solid gainsboro;
}

.logo {
  font-family: "Berkshire Swash", "Times New Roman", Times, serif;
  font-size: 1.7em;
}

.user-login {
  font-size: 1.5rem;
}

.date-susc {
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
  font-size: 0.8em;
  border-bottom: 1px solid gainsboro;
  background-color: rgb(245, 245, 245);
}

.latest {
  display: none;
  height: 60px;
  border-bottom: 1px solid gray;
}
